/* css for decidim_Pokecode */
// Upper menu
.main-bar__links-desktop {
  @media (min-width: 768px) {
    [data-target*="dropdown"] {
      @apply block;

      div {
        @apply block text-secondary text-sm text-center;

        svg {
          @apply inline-block;
        }
      }
    }
  }

  .main-header__language-chooser {
    @apply relative z-10;

    > ul {
      @apply absolute left-0 bg-white p-4 shadow-md text-left;

      > li {
        @apply text-secondary text-md hover:underline hover:bg-secondary hover:text-white transition;

        > a {
          @apply p-2 w-full block;
        }
      }
    }
  }
}

// Pokecode logos
.footer-logos {
  @apply block;

  a {
    @apply inline-block mr-8;
  }

  svg {
    @apply w-auto h-6;

    path {
      fill: white;
    }
  }
}
