<div class="callout alert">
  <p>
    <strong><%= t("decidim.pokecode.invitations_disabled_warning.title") %></strong><br>
    <%= t("decidim.pokecode.invitations_disabled_warning.message") %>
  </p>
</div>
